$background-color: #5fc0dd;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: #5fc0dd;
$teal-light: #6cebfe;
$black: #000;
$square-color: #1e1e1e;
$green: #5fb760;
$nav-color: #3e474d;
$orange: #efac56;
$red: #db0a16;
