body {
  background-color: $background-color;
  color: $white;
  padding-top: 70px;
}

.btn-style {
  margin: 10px;
}

.navbar-custom {
  background-color: #3e474e;
  color: $white;
}

.brand-custom {
  color: $white;
  font-size: 40px;
  font-weight: bold;
}

.gameboard {
  height: auto;
  padding: 25px;
}

.square {
  background-color: $square-color;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.square-x {
  background-color: $white;
  background-image: url('https://i.imgur.com/72U207r.png');
  background-size: contain;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.square-o {
  background-color: $white;
  background-image: url('https://i.imgur.com/TnJFY2t.png');
  background-size: contain;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.buttons {
  padding: 20px;
  text-align: center;
}

.btn-custom {
  background-color: $teal;
}

.scoreboard {
  background-color: $nav-color;
  border: 7px solid $white;
  font-weight: bold;
  height: auto;
  padding: 15px;
  margin-top: 34px;

  & > h2 {
    color: $white;
    font-size: 42px;
    text-align: $center-text;
    text-shadow: 1px 2px 5px $black;
  }

  & > h3 {
    color: $white;
    text-align: $center-text;
    text-shadow: 1px 2px 5px $black;
  }
}

.game-result {
  color: $green;
  font-size: 32px;
  font-weight: bold;
  text-align: $center-text;
  text-shadow: 1px 2px 5px $black;
}

.game-over-alert {
  color: $teal;
  font-size: 20px;
  font-weight: bold;
  text-align: $center-text;
  text-shadow: 1px 2px 5px $black;
}

.modal-title-custom {
  color: $black;
}

label {
  color: $black;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}
