body {
  background-color: $background-color;
  color: $white;
  padding-top: 60px;
}

.btn-style {
  margin: 10px;
}

.navbar-custom {
  background-color: #3e474e;
  color: $white;
}

.brand-custom {
  color: $white;
  font-size: 40px;
}

.box {
  border: 1px solid $white;
}

.gameboard {
  height: auto;
  padding: 25px;
}

.square {
  background-color: $square-color;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.square-x {
  background-color: $white;
  background-image: url('https://i.imgur.com/StEdwyQ.png');
  background-size: contain;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.square-o {
  background-color: $white;
  background-image: url('https://i.imgur.com/WXnA4Qd.png');
  background-size: contain;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.buttons {
  text-align: center;
  padding: 20px;
}

.scoreboard {
  background-color: $nav-color;
  font-weight: bold;
  height: 300px;
  padding: 15px;

  & > h2 {
    color: $white;
    // font-family: $font-family-passion-one;
    font-size: 36px;
    text-align: $center-text;

    &:hover {
      opacity: 0.5;
    }
  }

  & > h3 {
    color: $white;
  }
}

.winner-alert {
  color: $green;
  font-size: 28px;
  font-weight: bold;
  text-align: $center-text;
}

.game-over-alert {
  color: $orange;
  font-size: 14px;
  font-weight: bold;
  text-align: $center-text;
}

.modal-title-custom {
  color: $black;
}

label {
  color: $black;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}
