body {
  background-color: $background-color;
  color: $white;
  padding-top: 60px;
}

.btn-style {
  margin: 10px;
}

.navbar-custom {
  background-color: #3e474e;
  color: $white;
}

.brand-custom {
  color: $white;
  font-size: 40px;
}

// div {
//   border: 1px solid $white;
// }

.box {
  border: 1px solid $white;
}

.gameboard {
  height: auto;
  padding: 25px;
}

.square {
  background-color: $square-color;
  float: left;
  margin: 1.66%;
  overflow: overflow;
  padding-bottom: 25%;
  position: relative;
  width: 30%;
}

.buttons {
  text-align: center;
}

.scoreboard {
  height: auto;

  & > h2 {
    color: $white;
    // font-family: $font-family-passion-one;
    font-size: 32px;
    text-align: $center-text;

    &:hover {
      opacity: 0.5;
    }
  }

  & > h3 {
    color: $white;
  }
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}
