// Google Fonts
// @import url('https://fonts.googleapis.com/css?family=Passion+One')

$center-text: center;
$paragraph-margin: 20px;
$paragraph-text: 18px;
$vertical-margin: 40px;
$horizontal-margin: 40px;
$quote-padding: 25px;
$justify-text: justify;
// $font-family-passion-one: 'Passion One', cursive;
